ray[default,tune]==2.2.0
free-mujoco-py==2.1.6
pygame==2.1.2
robosuite @ https://github.com/cheng-chi/robosuite/archive/277ab9588ad7a4f4b55cf75508b44aa67ec171f0.tar.gz
robomimic==0.2.0
pytorchvideo==0.1.5
imagecodecs==2022.9.26
r3m @ https://github.com/facebookresearch/r3m/archive/b2334e726887fa0206962d7984c69c5fb09cceab.tar.gz
dm-control==1.0.9
mani-skill2==0.4.2
